.Dark-purple {
  background-color: darkslateblue;
}

.light-purple {
  background-color: rgb(55, 3, 75);
}

.purple {
  background-color: blueviolet;
}

.blue {
  background-color: darkblue;
}

.other-blue {
  background-color: blue;
}

.dark-red {
  background-color: darkred;
}

.red {
  background-color: red;
}

.pink {
  background-color: lightpink;
}
